@import './app.css';
@import './container.css';
@import './title.css';
@import './products.css';
@import './product.css';

@font-face {
	font-family: "Exo2.0";
	src: url("../fonts/Exo2.0.otf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Exo2.0";
}

body {
  background: url("../images/Tile.png");
}

@media (max-width: 1440px) {

  .app {
    height: 100%;
  }
  
  .products {
    flex-wrap: wrap;
  }
}