@import './app.css';
@import './container.css';
@import './title.css';
@import './products.css';
@import './product.css';

@font-face {
	font-family: "Exo2.0";
	src: url("../fonts/Exo2.0.otf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Exo2.0";
}

body {
  background: url("../images/Tile.png");
}

@media (max-width: 1440px) {

  .app {
    height: 100%;
  }
  
  .products {
    flex-wrap: wrap;
  }
  
  .container {
    margin: 90px 0;
  }
}

@media (max-width: 577px) {

  .app {
    padding: 0;
  }
  
  .product {
    width: 98%;
    padding: 21px 10px 0 16px;
    height: 370px;
  }

  .product__weight {
    top: 75%;
    left: 60%;
  }
}