.product {
    width: 340px;
    height: 480px;
    background-color: #fff;
    border-radius: 10px;
    padding: 21px 0 0 48px ;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.standard {
    border: 5px solid #1698D9;
}

.standard:hover {
    border: 5px solid #2EA8E6;
}

.standard:hover .product__weight {
    background-color: #2EA8E6;
}

.selected {
    border: 5px solid #D91667;
}

.selected .product__weight {
    background-color: #D91667;
}

.selected:hover {
    border: 5px solid #E52E7A;
}

.selected:hover .product__weight {
    background-color: #E52E7A;
}

.disabled:not(.available__text) {
    background-color: #F2F2F2;
    border: 5px solid #B3B3B3;
    color: #B3B3B3;
}

.disabled:not(.available__text)::before {
    content: '';
    width: 340px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B3B3B3;
    opacity: 0.5;
    z-index: 1;
}

.disabled:not(.available__text) .product__weight {
    background-color: #B3B3B3;
}

.available__text__disabled {
    color: #FFFF66;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
}

.product__title, .aviable__text, .product__weight {
    font-family: 'Trebuchet MS';
    font-style: normal;
}

.firstLine {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.product__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.product__info {
    width: 100%;
    margin: 0 auto;
}

.available__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    transition: all 0.5s;
}

.cat__image {
    width: 368px;
    height: 360px;
    position: absolute;
    top: 45%;
    left: -10%;
}

.available__text__href {
    color: #1698D9;
}

.product__weight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1698D9;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 42px;
    line-height: 27px;
    position: absolute;
    top: 80%;
    left: 70%;
    z-index: 1;
    transition: all 0.5s;
}

.product__weight span {
    font-size: 21px;
}

.product__bonuses {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}